# Python
campus-security-system/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets / env
.env

# Certificates (NEVER commit private keys!)
campus-security-system/config/certificates/*.key
campus-security-system/config/certificates/*.crt
campus-security-system/config/certificates/*.csr
campus-security-system/config/certificates/*.srl
campus-security-system/mosquitto/data/mosquitto.db

# Logs
*.log

# IDE
.vscode/
.idea/
